.error-container {
  width: 100%;
  height: var(--error-min-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--error-gap);
}

.error-link {
  color: var(--color-white);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--color-primary);
  width: 100%;
  max-width: var(--max-width-button);
  text-align: center;
  padding: var(--button-padding);
  border-radius: var(--border-radius-medium);
  box-sizing: border-box;
}

.error-link:hover {
  background-color: var(--color-primary-dark);
}
